* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
#product-overview {
  background: url("./diving-deeper-05.01-background-image/freedom.jpg");
  width: 100%;
  height: 528px;
  padding: 10px;

  /* padding: 20px;
  border: 5px solid black;
  margin: 20px; */
}
h1 {
  color: white;
  font-family: "Anton", sans-serif;
}
.section-title {
  color: #2ddf5c;
}
.main-header {
  background-color: #2ddf5c;
  width: 100%;
  padding: 8px 16px;
}

.brand,
.main-nav,
.main-nav__item {
  display: inline-block;
}
.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav {
  text-align: right;
  width: calc(100% - 74px);
  vertical-align: middle;
}
.brand > a {
  color: #014f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}
.brand {
  vertical-align: middle;
}
.main-nav__item {
  margin-right: 16px;
}
.main-nav__item > a {
  text-decoration: none;
  color: #014f1f;
  padding: 3px 0;
}

.main-nav__item > a:hover {
  color: white;
  border-bottom: 2px solid white;
}

.main-nav__item--cta > a {
  color: white;
  background: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}
.main-nav__item--cta > a:hover,
.main-nav__item--cta > a:active {
  color: #ff1b68;
  background: white;
  border: none;
}
